<div class="container toolbar">
  <div class="row">
    <div class="col">
        <button class="btn" (click)="addUser=true">Dodaj pacjenta</button>
        <input type="text" pInputText size="50" placeholder="SZUKAJ" (input)="dt.filterGlobal($event.target.value, 'contains')">
        <i class="fa fa-search"></i>
    </div>
  </div>
</div>

<p-table #dt [value]="users" [columns]="cols" [paginator]="true" [rows]="8">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns">
                {{col.header}}
          <!--     <p-sortIcon [field]="col.field"></p-sortIcon> -->
            </th>
        </tr>
  <!--      <tr>
            <th *ngFor="let col of columns" [ngSwitch]="col.field">
                <input *ngSwitchCase="'email'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                <p-dropdown *ngSwitchCase="'diet'" [options]="diets" [style]="{'width':'100%'}" (onChange)="dt.filter($event.value, col.field, 'equals')"></p-dropdown>
            </th>
        </tr> -->
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData">
            <td *ngFor="let col of columns" [ngSwitch]="col.field">
                <span *ngSwitchCase="'name'">{{rowData['name']}} {{rowData['surename']}}</span>
                <span *ngSwitchCase="'dietTime'">{{rowData['dietStart'] | daysBetween: rowData['dietTime'] }}</span>
                <span *ngSwitchCase="'diet'">{{rowData['diet']}}</span>
                <span *ngSwitchCase="'consultation'">{{rowData['calendar'] | consultation}}</span>
                <button class="btn" *ngSwitchCase="'button'" [routerLink]="['edit/', rowData['id']]">Zarządzaj</button>
            </td>
        </tr>
    </ng-template>
</p-table>

<p-dialog [modal]="true" [draggable]="false" [(visible)]="addUser" header="Title">
    Content
    <p-footer>
        <button type="button" pButton icon="pi pi-check" (click)="addUser=false" label="Yes"></button>
        <button type="button" pButton icon="pi pi-close" (click)="addUser=false" label="No"></button>
    </p-footer>
</p-dialog>

<p-growl [value]="msgs"></p-growl>
