* {
    box-sizing: border-box;
  }
  
  .sign-in-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  h1{
    font-size: 70px;
    font-weight: 100;
    margin-bottom: 16px;
    text-align: center;
    color:#f26c4f;
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
  }
  
  form {
    width: 350px;
  }
  
  input {
    display: block;
    width: 100%;
    padding: 16px;
    border: 1px solid #0ab6a2;;
    background: rgb(255, 255, 255);
    margin: 8px auto;
    font-size: 20px;
    border-radius: 0px;
  }
  
  input::-webkit-input-placeholder {
    font-style: normal;
    font-weight: 300;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.5);
  }
  
  input::-moz-placeholder {
    font-style: normal;
    font-weight: 300;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.5);
  }
  
  input::input-placeholder {
    font-style: normal;
    font-weight: 300;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.5);
  }
  
  input.ng-invalid.ng-touched {
    border-left: 2px solid #f53d3d;
  }
  
  .input-errors {
    color: #f53d3d;
    margin: 0 0 16px 0;
    padding: 0 0 0 16px;
    font-size: 20px;
  }
  
  button {
    display: block;
    background-color: #0ab6a2;
    text-transform: uppercase;
    width: 60%;
    margin: 16px auto;
    padding: 16px;
    font-size: 20px;
    font-weight: 300;
    cursor: pointer;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
    margin-bottom: 64px;
    border: 0px;
    color: #fff;
  }
  
  .sign-in-error {
    color: #f53d3d;
    padding: 16px 0;
    font-size: 20px;
    text-align: center;
  }

  .logo{
    width: 70%;
    margin: 0px auto;
    display: block;
    margin-bottom: 30px;
    transform: translateX(10px);
  }