.container-fluid{
    .row{
        .col-md-2{
            .menu{
                width: 100%;
                height: 100vh;
                background: #34495e;
                padding-top: 50px;
            }
        }
        .col-md-10{
            padding-top: 30px;
        }
    }
}

