$borderRadius: 0px;

$contentBorderWidth: 0px;
$contentBorderColor: #fff;
$contentBgColor: #fff;
$contentTextColor: #000;

$stateDefaultBorderWidth: 0px;
$stateDefaultBorderColor: #fff;
$stateDefaultBgColor: #fff;
$stateDefaultTextColor: #2779aa;

$main: #d35400;