$borderRadius: 0px;

$contentBorderWidth: 0px;
$contentBorderColor: #fff;
$contentBgColor: #fff;
$contentTextColor: #000;

$stateDefaultBorderWidth: 0px;
$stateDefaultBorderColor: #fff;
$stateDefaultBgColor: #fff;
$stateDefaultTextColor: #2779aa;

$stateHighlightBorderColor: #0ab6a2;
$stateHighlightBgColor: #0ab6a2;
$stateHighlightTextColor:#0ab6a2;
$stateHoverBgColor:#0ab6a2;

$main: #0ab6a2;
