/* You can add global styles to this file, and also import other style files */

@import './variables';
@import './mixins';
@import './template';
@font-face {
    font-family: 'FiraSansLight';
    src: url(../assets/fonts/FiraSansCondensed-Regular.ttf) format("truetype");
    font-weight: normal;
	font-style: normal;
}
@font-face {
    font-family: 'FiraSansLight';
    src: url(../assets/fonts/FiraSansCondensed-Light.ttf) format("truetype");
    font-weight: 300;
	font-style: normal;
}

* {
    box-sizing: border-box;
  }
  
  
.wrapper{
    overflow: hidden;
}

body{
    background:#fff;
    font-family: 'FiraSansLight' !important;
    font-style: normal;
    font-weight: 300;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    height: 100vh;
    background-blend-mode: color;
}

.container-fluid{
    padding: 0px;
    padding-right: 30px;
}

.btn{
    background: #0ab6a2;
    border: 1px solid #fff;
    border-radius: 0px;
    color: #fff;
    font-size: 15px;
    font-weight: 300;
    padding: 5px 20px;
    display: block;
    margin: 10px auto;
    &:hover{
        border: 1px solid #0ab6a2;
        background: transparent;
        color: #5c5c5c;
    }
    &.btn-danger{
        background: #f53d3d;
        padding: 5px;
        &:hover{
            border: 1px solid #f53d3d;
            background: transparent;
            color: #5c5c5c;
        }
    }
}

input{
    border: 0px solid #fff;
    border-radius: 5px;
    padding: 5px 10px;
    width: 100%;
    margin: 10px auto;
}

.icon{
    height: 27px;
    width: 35px;
    position: absolute;
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    &.users{
        background-image: url(../assets/iconsPng/home.png);
    }
    &.diets{
        background-image: url(../assets/iconsPng/diets.png);
    }
    &.dishs{
        background-image: url(../assets/iconsPng/dish.png);
    }
    &.products{
        background-image: url(../assets/iconsPng/elements.png);
    }
    &.calendar{
        background-image: url(../assets/iconsPng/calendar.png);
    }
    &.pen{
        background-image: url(../assets/iconsPng/olowek.png);
    }
}

.toolbar{
    height: 100px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
    margin-bottom: 30px;
    .row{
        .col{
            display: flex;
            button{
                /*
                border-radius: 20px;
                margin: 21px 20px;
                padding: 10px 35px;
                display: inline;
                font-size: 24px;
                position: relative;
                */
                border-radius: 20px;
                margin: 27.5px 5px;
                padding: 0px 20px;
                display: inline-block;
                height: 45px;
                font-size: 18px;
                position: relative;
            }
            input{
                height: 30px;
                width: auto;
                margin: 35px 10px 35px auto;
                border: 0px;
                border-bottom: 2px solid #0ab6a2;
                border-radius: 0px;
                padding-bottom: 0px;
            }
            i{
                margin: 37px 20px 0px -10px;
                color: #0ab6a2;
                border-bottom: 2px solid #0ab6a2;
                height: 28px;
                font-size: 21px;
                padding-right: 5px;
            }
        }
    }
}

.addDialog{
    .ui-dropdown-panel{
        .ui-dropdown-filter-container{
            .ui-dropdown-filter-icon{
                top: 2em;
            }
        }
    }
    input, .ui-dropdown{
        display: block;
        width: 100%;
        padding: 10px 10px;
        border: 1px solid #0ab6a2;;
        background: rgb(255, 255, 255);
        margin: 8px auto;
        font-size: 14px;
        border-radius: 0px;
        &.ng-invalid.ng-touched, &.ng-dirty.ng-invalid,  &.ng-invalid {
            border-left: 2px solid #f53d3d;
            border-bottom-color: #0ab6a2;
            &:hover, &:focus{
                border-bottom-color: #c0c0c0;
            }
        }
        &.ui-state-focus, &:focus{
            outline: none;
            box-shadow: 0px 0px 0px #fff;
        }
    }
    .ui-dropdown{
        padding: 6.5px 6.5px;
        .ui-dropdown-trigger{
            &.ui-state-default{
                color: #0ab6a2;
                border: unset;
            } 
        }
        &:hover{
            border-color: #c0c0c0;
            background: #fff;
        }
    }
    .container-fluid{
        padding: 0px;
        &.chipsContainer{
            padding: 0 15px;
            border: 1px solid #0ab6a2;
            margin-top: 30px;
            height: 200px;
            h3{
                text-align: center;
                color: #e67e22;
                font-size: 20px;
                font-weight: 300;
                margin: 10px auto;
            }
            ul{
                padding: 0 2px;
                padding-right: 15px;
                li{
                    list-style: none;
                    display: inline-block;
                    padding: 5px;
                    background: #0ab6a2;
                    color: #fff;
                    margin: 2px;
                    i{
                        cursor: pointer;
                    }
                }
            }
        }
    }
    .ui-tabview{
        margin-top: 1em;
        .ui-tabview-nav{
            & > li{
                margin: 0 .125em 0px 0;
                &.ui-state-default{
                    font-weight: 300;
                    border: 1px solid #0ab6a2;
                    background: #fff;
                    border-bottom: 1px solid #0ab6a2;
                    &.ui-state-active{
                        font-weight: 300;
                        border: 1px solid #0ab6a2;
                        background: #fff;
                        border-bottom: 1px solid #fff;
                        a{
                            color: #e67e22;
                        }
                    }
                }
                &:not(.ui-state-active):not(.ui-state-disabled){
                    &:hover{
                        border: 1px solid #0ab6a2;
                        background: #fff;
                        border-bottom: 0px;
                        a{
                            color: #e67e22;
                        }
                    }
                }
            }
        }
        .ui-tabview-panel{
            padding: 0em;
            .container-fluid{
                &.tableContainer{
                    padding: 15px;
                    border: 1px solid #0ab6a2;
                    margin-top: 0px;
                    height: 300px;
                    .ui-dropdown{
                        float: left;
                        width: 200px !important;
                         .ui-dropdown-panel{
                            .ui-dropdown-items-wrapper{
                                max-height: 150px !important;
                            }
                            .ui-dropdown-item{
                                text-align: right !important;
                                .ui-helper-clearfix{
                                    height: auto !important;
                                }
                            }
                         }
                        .ui-dropdown-label{
                            text-align: left;
                        }
                    }
                    table{
                        width: calc(100% - 15px);
                        margin: 0 auto;
                        margin-left: 0px;
                        text-align: center;
                        tr{
                            &:first-of-type{
                                border-bottom: 1px solid #0ab6a2;
                            }
                            &:not(:first-of-type):last-of-type{
                                height: 50px;
                                vertical-align: text-top;
                            }
                            th{
                                color: #e67e22;
                                text-transform: uppercase;
                                font-size: 16px;
                                font-weight: 300;
                            }
                            td{
                                i{
                                    color: #f53d3d;
                                }
                            }
                        }
                    }
                }
                &.descContainer{
                    padding: 15px;
                    border: 1px solid #0ab6a2;
                    margin-top: 0px;
                    height: 300px;
                    h2{
                        color: #e67e22;
                        font-size: 20px;
                        margin: 10px auto;
                        text-transform: uppercase;
                        font-weight: 300;
                    }
                    textarea{
                        width: calc(100% - 20px);
                        margin: 0 auto;
                        margin-left: 1px;
                        min-height: 220px;
                        margin-bottom: 20px !important;
                    }
                }
            }
        }
    }
    .ui-dialog.ui-widget{
        .ui-dialog-titlebar{
            .ui-dialog-title{
                color: #5c5c5c;
                text-transform: uppercase;
            }
            .ui-dialog-titlebar-icon{
                &:hover{
                    border-color: #fff;
                    background-color: #fff;
                    color: #5c5c5c;
                }
            }
        }
    }
    .ui-dialog-footer{
        padding: 1em 1.5em;
        .ui-dropdown{
           float: left;
           width: 200px !important;
           .ui-dropdown-label{
               text-align: left;
           }
        }
        .btn{
            border-radius: 20px;
            padding: 8px 20px;
            margin: unset;
            margin-top: 8px;
            margin-left: auto;
            &.ui-state-focus, &:focus{
                outline: none;
                box-shadow: 0px 0px 0px #fff;
            }
        }
    }
}